<%= provide(:title, "Reset Password") %>

<div class="trnasparentbg">
    <div class="formbg">
        <h1> Reset Password </h1>
        <hr/>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
                    <%= render 'shared/error_messages' %>
                    
                    <%= hidden_field_tag :email, @user.email %>
                    
                    <%= f.label :password %>
                    <%= f.password_field :password, class: "form-control" %>
                    
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, class: "form-control" %>
                    
                    <hr class="invisible"/>
                    
                    <%= f.submit "Update Password", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>