<%= provide(:title, "Forgot Password") %>

<div class="trnasparentbg">
    <div class="formbg">
        <h1> Forgot Password </h1>
        <hr/>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <%= form_for(:password_reset, url: password_resets_path) do |f| %>
                    <%= f.label :email %>
                    <%= f.email_field :email, class: "form-control" %>
                    
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>