<%= form_for(@applicant) do |f| %>

    <%= render 'shared/application_error_messages' %>

    <%= f.label "Name" %>
    <div class = "name_field">
        <%= f.text_field :first_name, placeholder: "First Name", class: "form-control pad_name" %>
        
        <%= f.text_field :mi, placeholder: "MI", class: "form-control pad_name mi" %>
        
        <%= f.text_field :last_name, placeholder: "Last name", class: "form-control" %>
    </div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", placeholder: "UP Mail" %>
    
    <%= f.label :student_number, "Student Number" %>
    <%= f.text_field :student_number, placeholder: "Student Number", class: "form-control" %>
    
    <%= f.label "Contact number" %>
    <%= f.text_field :contact_no, class: 'form-control', placeholder: 'Telephone / Cellphone number'%>
    
    <%= f.label "Home Address" %>
    <%= f.text_area :home_addr, placeholder: "Home Address", class: "form-control" %>
    
    <%= f.label :sts_bracket, "STS-Bracket" %>
    <%= f.select :sts_bracket, ['ND','PD 40','PD 60','PD 80', 'FD', 'FDS'], placeholder: "STS Bracket", class: "form-control" %>
    
    <%= f.label "Course & Year" %>
    <div class = "course_yr_field">
        <%= f.select :course , ['BA Communication Arts','BA Psychology', 'BASS Economics', 'BASS Political Science', 'BS Accountancy', 'BS Management', 'BS Biology', 'BS Computer Science'], class: "form-control pad_name", placeholder: "Course" %>
        
        <%= f.number_field :year , class: "form-control year", placeholder: "Year" %>
    </div>
    
    <h3>Contact Persons</h3><br/>
    <%= f.label "Father" %>
    <%= f.text_field :father, class: 'form-control', placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :father_contact, class: 'form-control', placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :father_occupation, class: 'form-control', placeholder: 'Occupation'%>
    
    <%= f.label "Mother" %>
    <%= f.text_field :mother, class: 'form-control', placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :mother_contact, class: 'form-control', placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :mother_occupation, class: 'form-control', placeholder: 'Occupation'%>
    
    <%= f.label "Guardian" %>
    <%= f.text_field :guardian, class: 'form-control', placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :guardian_contact, class: 'form-control', placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :guardian_occupation, class: 'form-control', placeholder: 'Occupation'%>
    
    <hr class = "invisible"/>
    
    <%= f.submit "Submit Application", class: "btn btn-primary", data: {confirm: "Are you sure all inputs are correct?"} %>
    
    <hr class = "invisible"/>
    
<% end %>