<% provide(:title, "All Applicants") %>

<!--<div class="col-md-3 side">-->
<!--    <%= render 'ddms_users/side_bar' %>-->
<!--</div>-->
<div class = "user_bg admin_view">
     <div>
        <%= link_to "Back", current_user, class: 'btn btn-primary' %>
        <%= link_to "Create New Application", ddms_applicants_new_path, class: 'btn btn-primary' %>
    </div>
    <div class="title">
        <h1>All Applicants</h1>
    </div>
   
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Student Number</th>
                    <th>Email</th>
                    <th>STS Bracket</th>
                    <th>Course & Year</th>
                    <th>Home Address</th>
                    <th>Action</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                </tr>
            </thead>
            <tbody>
                <% @applicants.each do |applicant| %>
                    <tr>
                        <td><%= applicant.id %></td>
                        <td><%= applicant.last_name %>, <%= applicant.first_name %> <%= applicant.mi %>.</td>
                        <td><%= applicant.student_number %></td>
                        <td><%= applicant.email %></td>
                        <td><%= applicant.sts_bracket %></td>
                        <td><%= applicant.course %> - <%= applicant.year %></td>
                        <td><%= applicant.home_addr %></td>
                        <!--<td>%= link_to "Approve" , applicant, method: :delete, data: {confirm: "are you sure?"}, class: 'btn btn-primary'%></td>-->
                        <td>
                            <%= link_to "Approve", edit_ddms_applicant_path(applicant), data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm' %>
                            <%= link_to "Delete", applicant, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>