<% provide(:title, 'Apply') %>

<div class = "transparentbg">
    <div class = "formbg">
        <h1>Application Form</h1>
        <hr/>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!--# % debugger %-->
                <%= render 'form' %>
                <hr class="invicible" />
                <% if !logged_in? %>
                    <%= link_to "Cancel", root_url, class: 'btn btn-primary' %>
                <% else %>
                    <%= link_to "Cancel", ddms_applicants_path, class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
