<%= form_for(@violation) do |f| %>

    <%= render 'shared/violation_error_messages' %>
    
    <%= f.label "Violation" %>
    <%= f.text_field :title, placeholder: "Violation", class: "form-control" %>
    
    <%= f.label "Remarks" %>
    <%= f.text_area :remarks, placeholder:" Remarks", class: 'form-control' %>
    
    <%= f.hidden_field :user_id, :value => @violation.user_id %>
    
    <hr class = "invisible"/>
    
    <%= f.submit yield(:button_text), class: "btn btn-primary", data: {confirm: "Are you sure all inputs are correct?"} %>
    
    <hr class = "invisible"/>
    
<% end %>