<% provide(:title, "All Violations") %>

<!--<div class="col-md-3 side">-->
<!--    <%= render 'ddms_users/side_bar' %>-->
<!--</div>-->
<div class = "user_bg admin_view"> <!-- col-md-9-->
    <div>
        <%= link_to "Back", current_user, class: 'btn btn-primary' %>
        <%= link_to "Delete All  Resolved Violations", delete_resolved_ddms_violation_path(current_user),
            data: {confirm: "All resolved violations will be deleted. Are you sure?"}, class: 'btn btn-primary' %>
    </div>
    
    <div class="title">
        <h1>All Violations</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @violations.where(:resolved => false).all.count > 0 || @violations.where(:resolved => nil).all.count > 0%>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Violation</th>
                        <th>Remarks</th>
                        <th>Date issued</th>
                        <th>Action</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                    </tr>
                </thead>
                <tbody>
                    <% @violations.each do |v| %>
                        <% if !v.resolved %>
                            <tr>
                                <!--<td>%= @users.find_by(:id => v.id).first_name %></td>-->
                                <td><%= @users.find_by(:id => v.user_id).last_name %>, <%= @users.find_by(:id => v.user_id).first_name %> <%= @users.find_by(:id => v.user_id).mi %>.</td>
                                <td><%= v.title %></td>
                                <td><%= v.remarks %></td>
                                <td><%= v.created_at.strftime("%d %b. %Y") %></td>
                                <td>
                                    <%= link_to "Edit", edit_ddms_violation_path(v), class: 'btn btn-primary btn-sm' %>
                                    <%= link_to "Resolve", resolve_ddms_violation_path(v) , class: 'btn btn-primary btn-sm' %>
                                    <%= link_to "Delete" , v, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm'%>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No Unresolved Violations
        <% end %>
    </div>
    
    <!-- ======================= RESOLVED VIOLATIONS NOT DELETED ============================ -->
    
    <div class="title">
        <h1>Resolved Violations</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @violations.where(:resolved => true).all.count > 0 %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Violation</th>
                        <th>Remarks</th>
                        <th>Date Issued</th>
                        <th>Action</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                    </tr>
                </thead>
                <tbody>
                    <% @violations.each do |v| %>
                        <% if v.resolved %>
                            <tr>
                                <td><%= @users.find_by(:id => v.user_id).last_name %>, <%= @users.find_by(:id => v.user_id).first_name %> <%= @users.find_by(:id => v.user_id).mi %>.</td>
                                <td><%= v.title %></td>
                                <td><%= v.remarks %></td>
                                <td><%= v.created_at.strftime("%d %b. %Y")%></td>
                                <td>
                                    <%= link_to "Delete" , v, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm'%>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No Resolved Violations
        <% end %>
    </div>
</div>