<%= provide(:title, "Add violation") %>
<%= provide(:button_text, "Submit") %>

<div class = "transparentbg">
    <div class = "formbg">
        <h1>Violation Form</h1>
        <hr/>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!--# % debugger %-->
                <%= render 'form' %>
                <hr class="invicible" />
                <%= link_to "Cancel", ddms_users_path , class: 'btn btn-primary' %>
            </div>
        </div>
    </div>
</div>