<%= form_for(@permit) do |f| %>

    <!-- ================ for error checking ==================== -->
    <% if @permit.errors.any? %>
        <div id = "error_explanation">
            <div class = "alert alert-danger">
                The for contains <%= pluralize(@permit.errors.count, "error") %>
            </div>
            <ul>
                <% @permit.errors.full_messages.each do | error | %>
                    <li>
                        <%= error %>
                    </li>
                <% end %>
            </ul>
            
        </div>
    <% end %>
    <!-- ======================================================== -->
    
    <%= f.label "Permit type" %>
    <%= f.select :permit_type, ['Late check-in', 'Overnight Stay', 'Home'], placeholder: "Permit", class: "form-control" %>
    
    <%= f.label "Remarks" %>
    <%= f.text_area :description, placeholder: "Description", class: 'form-control' %>
    
    <%= f.label "Permit Date" %>
    <%= f.date_field :permit_date, start_year: Date.today.year, class: 'form-control' %>
    
    <%= f.hidden_field :user_id, :value => @permit.user_id %>
    
    <hr class = "invisible"/>
    
    <%= f.submit yield(:button_text), class: "btn btn-primary", data: {confirm: "Are you sure all inputs are correct?"} %>
    
    <hr class = "invisible"/>
    
<% end %>