<% provide(:title, "All Permits") %>

<!--<div class="col-md-3 side">-->
<!--    <%= render 'ddms_users/side_bar' %>-->
<!--</div>-->
<div class = "user_bg admin_view">
    <div>
        <%= link_to "Back", current_user, class: 'btn btn-primary' %>
        <%= link_to "Delete All Archived Pemits", delete_all_archived_ddms_permit_path(current_user),
            data: {confirm: "All archived permits will be deleted. Are you sure?"}, class: 'btn btn-primary' %>
    </div>
    
    <div class="title">
        <h1>All Permits</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @permits.where(:archived => false).all.count > 0 || @permits.where(:archived => nil).all.count > 0 || @permits.all.count > 0%>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Permit Type</th>
                        <th>Description</th>
                        <th>Permit Date</th>
                        <th>Date Created</th>
                        <th>Status</th>
                        <th>Actions</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                    </tr>
                </thead>
                <tbody>
                    <% @permits.each do |permit| %>
                        <% if !permit.archived %>
                            <tr>
                                <!--<td>%= @users.find_by(:id => v.id).first_name %></td>-->
                                <td><%= @users.find_by(:id => permit.user_id).last_name %>, <%= @users.find_by(:id => permit.user_id).first_name %> <%= @users.find_by(:id => permit.user_id).mi %>.</td>
                                <td><%= permit.permit_type %></td>
                                <td><%= permit.description %></td>
                                <td><%= permit.permit_date.strftime("%d %b. %Y") %></td>
                                <td><%= permit.created_at.strftime("%d %b. %Y") %></td>
                                <td><%= (permit.approved ? 'Approved' : 'Not Approved' )%></td>
                                <td>
                                    <%= link_to "Approve", approve_ddms_permit_path(permit), class: (permit.approved ? 'btn btn-default btn-sm' : ' btn btn-primary btn-sm'), :disabled => permit.approved %>
                                    <%= link_to "Archive", archive_ddms_permit_path(permit) , class: 'btn btn-primary btn-sm' %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No Unarchived Permits
        <% end %>
    </div>
    
    <!-- ======================= RESOLVED VIOLATIONS NOT DELETED ============================ -->
    
    <div class="title">
        <h1>Archived Permits</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @permits.where(:archived => true).all.count > 0 %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Permit Type</th>
                        <th>Description</th>
                        <th>Permit Date</th>
                        <th>Date Created</th>
                        <th>Actions</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                    </tr>
                </thead>
                <tbody>
                    <% @permits.each do |permit| %>
                        <% if permit.archived %>
                            <tr>
                                <td><%= @users.find_by(:id => permit.user_id).last_name %>, <%= @users.find_by(:id => permit.user_id).first_name %> <%= @users.find_by(:id => permit.user_id).mi %>.</td>
                                <td><%= permit.permit_type %></td>
                                <td><%= permit.description %></td>
                                <td><%= permit.permit_date.strftime("%d %b. %Y") %></td>
                                <td><%= permit.created_at.strftime("%d %b. %Y") %></td>
                                <td>
                                    <%= link_to "Delete" , permit, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm'%>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No Archived Permits
        <% end %>
    </div>
</div>