<% if @applicant.errors.any? %>
    <div id = "error_explanation">
        <div class = "alert alert-danger">
            The for contains <%= pluralize(@applicant.errors.count, "error") %>
        </div>
        <ul>
            <% @applicant.errors.full_messages.each do | error | %>
                <li>
                    <%= error %>
                </li>
            <% end %>
        </ul>
        
    </div>
<% end %>