<% if @user.errors.any? %>
    <div id = "error_explanation">
        <div class = "alert alert-danger">
            The form contains <%= pluralize(@user.errors.count, "error") %>
        </div>
        <ul>
            <% @user.errors.full_messages.each do | error | %>
                <li>
                    <% if error.to_s == "Applicants must exist" %>
                        Your application form has not been approved by the administrator yet / you have not submitted an application form
                    <% else %>
                        <%= error %>
                    <% end %>
                </li>
            <% end %>
        </ul>
        
    </div>
<% end %>