<%= form_for(@accountability) do |f| %>
    <!-- ================ for error checking ==================== -->
    <% if @accountability.errors.any? %>
        <div id = "error_explanation">
            <div class = "alert alert-danger">
                The for contains <%= pluralize(@accountability.errors.count, "error") %>
            </div>
            <ul>
                <% @accountability.errors.full_messages.each do | error | %>
                    <li>
                        <%= error %>
                    </li>
                <% end %>
            </ul>
            
        </div>
    <% end %>
    
    <!-- ======================================================== -->
    
    <%= f.label "Accountability" %>
    <%= f.text_field :accountability, placeholder: "Accountability", class: "form-control" %>
    
    <%= f.label "Remarks" %>
    <%= f.text_area :remarks, placeholder:" Remarks", class: 'form-control' %>
    
    <%= f.label "Due date" %>
    <%= f.date_field :due_date, :start_year => Date.today.year, class: 'form-control' %>
    
    <%= f.hidden_field :user_id, :value => @accountability.user_id %>
    
    <hr class = "invisible"/>
    
    <%= f.submit yield(:button_text), class: "btn btn-primary", data: {confirm: "Are you sure all inputs are correct?"} %>
    
    <hr class = "invisible"/>
    
<% end %>