<% provide(:title, "All Accountabilities") %>

<!--<div class="col-md-3 side">-->
<!--    <%= render 'ddms_users/side_bar' %>-->
<!--</div>-->
<div class = "user_bg admin_view">
    <div>
        <%= link_to "Back", current_user, class: 'btn btn-primary' %>
        <%= link_to "Delete Resolved Accountabilities", delete_resolved_ddms_accountability_path(current_user),
            data: {confirm: "Are you sure?"}, class: 'btn btn-primary' %>
    </div>
    
    <div class="title">
        <h1>All Accountabilities</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @accountabilities.where(:resolved => false).all.count > 0 || @accountabilities.where(:resolved => nil).all.count > 0 %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Student number</th>
                        <th>Accountability</th>
                        <th>Remarks</th>
                        <th>Due Date</th>
                        <th>Action</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                    </tr>
                </thead>
                <tbody>
                    <% @accountabilities.each do |accountability| %>
                        <% if !accountability.resolved %>
                            <tr>
                                <td>
                                    <%= @users.find_by(:id => accountability.user_id).last_name %>,
                                    <%= @users.find_by(:id => accountability.user_id).first_name %>
                                    <%= @users.find_by(:id => accountability.user_id).mi %>
                                </td>
                                <td><%= @users.find_by(:id => accountability.user_id).student_no %></td>
                                <td><%= accountability.accountability%></td>
                                <td><%= accountability.remarks %></td>
                                <td><%= accountability.due_date.strftime("%d %b. %Y") %></td>
                                <td>
                                    <%= link_to "Edit",    edit_ddms_accountability_path(accountability), class: 'btn btn-primary btn-sm' %>
                                    <%= link_to "Resolve", resolve_ddms_accountability_path(accountability), data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm' %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No Unresolved Accountabilities
        <% end %>
    </div>
    
    <!-- ====================== RESOLVED ACCOUNATABILITIES ======================== -->
    <div class="title">
        <h1>Resolved Accountabilities</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @accountabilities.where(:resolved => true).all.count > 0 %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Student number</th>
                        <th>Accountability</th>
                        <th>Remarks</th>
                        <th>Due Date</th>
                        <th>Action</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                    </tr>
                </thead>
                <tbody>
                    <% @accountabilities.each do |accountability| %>
                        <% if accountability.resolved %>
                            <tr>
                                <td>
                                    <%= @users.find_by(:id => accountability.user_id).last_name %>,
                                    <%= @users.find_by(:id => accountability.user_id).first_name %>
                                    <%= @users.find_by(:id => accountability.user_id).mi %>
                                </td>
                                <td><%= @users.find_by(:id => accountability.user_id).student_no %></td>
                                <td><%= accountability.accountability%></td>
                                <td><%= accountability.remarks %></td>
                                <td><%= accountability.due_date.strftime("%d %b. %Y") %></td>
                                <td>
                                    <%= link_to "Delete", accountability, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm' %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No Resolved Accountabilities
        <% end %>
    </div>
</div>