<% provide(:title, "About") %>
<% provide(:degree, "BS in Computer Science") %>

<div class="developer">
    <p>
        Jericho M. de Castro </br>
        <%= yield(:degree) %>
    </p>
</div>
<div class="developer">
    <p>
        Rex A. Olis </br>
        <%= yield(:degree) %>
    </p>
</div>
<div class="developer">
    <p>
        Jovan Francis T. Paner </br>
        <%= yield(:degree) %>
    </p>
</div>
<div class="developer">
    <p>
        Prof. John D. Ultra </br>
        Project Adviser
    </p>
</div>