<div class="center jumbotron landing">
        <%= image_tag("UPVisayas.png", alt: "UP Logo", class: 'landing_img') %>
    <div id="ApplicationTitle">
        <h1> Digital Dorm Management System </h1>
        <div id="animate"><p class="p_animate">Your Online Dorm Manager: Convenient & Efficient</p><span class="cursor">|</span></div>
        <!--  Convenient &middot; Efficient &middot; Sufficient -->
        <!--%= link_to "Apply Now!", apply_path , class: "btn btn-lg btn-primary"%-->
        <!--<div class = "btn btn-lg btn-primary" onClick="document.getElementById('applyForm').scrollIntoView();">-->
        <!--    Apply Now!-->
        <!--</div>-->
        <hr class="invisible"/>
        <%= link_to "Apply Now", ddms_applicants_new_path,  class: "btn btn-lg btn-primary my-button" %>
    </div>
</div>
<!--<div id = "applyForm">-->
<!--      <p>Scroll to here</p>-->
<!--</div>-->

<!--onClick="document.getElementById('applyForm').scrollIntoView();"-->


