<h1>Welcome Dormer!</h1>

<p>
  Hi <%= @user.first_name %>,
</p>

<p>
    Welcome to Digital Dorm Manager System! Your application has been approved by the dorm manager.
    Click the link below for activation. Upon clicking the link, we highly recommend that you update your
    profile (i.e change password) immediately because we cannot provide the password here for security purposes.
    Should you fail to update your password, you would have to contact the administrator/dorm manager to change it for you.
</p>

<p>
    After account activation, you may now see the dorm manager for your room assignment and other matters that need to be discussed.
    Upon the student's admittance to the dormitory, he/she is required to accomplish the following:

    1. Photocopy of form 5
    2. Deposit Fee (equivalent to one month's rent)
    3. appliance declaration form (get this form from the dorm manager)
</p>

<p>
    <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>


<p> Thank you! </p>

<p>
    Sincerely,
    DDMS Developers
</p>
