<p>Hi <%= @user.first_name %>,</p>

<p>
    To reset your password click on the link below:
</p>

<%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
   Important notice:
    This link will expire in two hours 
</p>

<p>
    If you did not request for a password reset, please ignore this email and your password
    will remain unchanged
</p>