Hi <%= @user.first_name %>

To reset your password click on the link below:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Important notice:
This link will expire in two hours

If you did not request for a password reset, please ignore this email and your password
will remain unchanged