@import "bootstrap-sprockets";
@import "bootstrap";

html {
  background: url(image_path("bg3.png")) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //height: 100%;
}

.date {
  padding: 0;
}

hr {
  // border-color: rgba(76, 75, 75, 0.87);
   color: white;
  border-color: rgba(255, 255, 255, 0.6);
  border-width: 2px;
  //margin-bottom: 10px;
}

.transparentbg {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width:100%;
}

header {
  margin-bottom: 0;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.52);
}

.container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    //padding-top:15px;
    // display: -webkit-inline-box;
}

.content {
  padding: 0;
}

body {
  padding-top: 50px;
  background-color: transparent;
  display: grid;
  // min-height:100%; 
  // position:relative; 
  // padding-bottom:150px;
}

.black-bg {
  // background: url(image_path("bg2.png")) no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.footer {
    height: 150px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: right;
    background-color: rgb(6, 6, 6);
    color: white;
    margin-top: 2.5%;
    // position: absolute; 
    // left: 0 ; right: 0; bottom: 0; 
    .a{
        color: red;
    }
    p {
      font-size: 15px;
      font-family: 'Alegreya Sans', sans-serif;
    }
}

.title {
  h1 {
    font-family:'Archivo Narrow', sans-serif;
  }
}
.block {
  
  display: grid;
  
  .developers {
    height: 300px;
    background-color: #010a17;
  }
}

// for debug style
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

////////////////////////////////////////////////////////////////////////////////
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
////////////////////////////////////////////////////////////////////////////////
// FORMS

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  padding: 1%;
  font-size: 135%;
  color: #222222;
  @include box_sizing;
}

input {
  height: auto !important;
}

/////////////////////////   for my forms   //////////////////////////////////

.formbg {
  width: 50%;
  background-color: #151414;
  color: white;
  padding: 2%;
  margin-top: 3%;
  margin-left: 25%;
  margin-bottom: 3%;
  border-radius: 10px;
  
  h1 {
    text-align: center;
    font-family:'Archivo Narrow', sans-serif;
  }
  
  .name_field {
    display: inline-flex;
    width: 100%;
  }
  
  .pad_name, .mi {
    margin-right: 3%;
  }
  
  .mi {
    width: 15%;
  }
  
  .course_yr_field {
    display: inline-flex;
    width: 100%;
    
    .pad_name {
      margin-right: 3%;
    }
    
    .year {
      width: 20%;
    }
  }
  
  
  //////////////////////////////////////////
  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }
  
  /////////////////////////////////////////

}

.col-md-8 {
  display: flex;
  flex-direction: column;
}

// .col-md-offset-1 {
//   margin-bottom: 2%;
// }

/* ============== for flash message styling ==============*/
.my_flash {
  margin-top: 2.5%;
}

@mixin sides2 {
  padding-bottom: 3%;
  padding-top: 2%;
  height: 60vh;
  color: white;
  background-color: #1e3e4c;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 15px;
  display: grid;
}

// .sidetab {
//     @include sides;
// }

.announcementtab {
  @include sides2;
  
  float: right;
  
  display: inline-block;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.66);
  // border-style: solid;
  // border-color: #2b60e2;
  
  position: fixed;
  top: 8%;
  right: 0px;
  height: 30vh;
  width: 22vw;
}

/*****************************************************************/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    /* On mouse-over, add a deeper shadow */
  &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}
/******************************************************************/

/******************** testing for animation ******************************/

#animate {
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 2%;
  .p_animate {
    font-family: "Courier";
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    margin: 10px 0 0 10px;
    width: 30em;
    
    animation: type 8s steps(60, end);
  }
  
  .cursor{
    font-size: 28px;
    animation: blink 1s infinite;
  }
  
  @keyframes type{ 
    from { width: 0; } 
  }
  @keyframes blink{
    to{opacity: .0;}
  }
}

/*************************************************************************/

table {
  table-layout: fixed;
  td {
    overflow: hidden;
  }
}

.announce_bg {
    padding: 2%;
    color: white;
    background-color: darken(#333333, 10%);
    width: 100%;
    
    text-align: center;
}

// ================== FOR DEVELOPERS SECTION ============================= //

.developers {
  --webkit-backdrop-filter: blur(10px);
  h1 {
    text-align: center;
    color: White;
  }
  .dev_card {
    .thumbnail {
      background-color: transparent;
      border-style: none;
      
      .image {
        max-width: 216px;
        height: 205px;
        filter: grayscale(0%);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.79);
        
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        
        &:hover {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          filter: grayscale(100%);
        }
        
      }
      .jov {
        width: 218px;
      }
      .caption {
        text-align: center;
        color: white;
      }
    }
  }
}

.announce_bg {
  minimum-height: 70vh;
  background-color: rgb(25, 13, 5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.52);
  
  .item {
    padding: 0 15% 0 15%;
        
    p {
      font-style: italic;
    }
    
    .dev-hr{
      color: white;
      border-color: rgba(255, 255, 255, 0.6);
      border-width: 2px;
    }
  }
}

// ======================================================================= //
.content-title{
    font-size: 25px;
    font-family:'Crete Round', serif;
}