// Place all the styles related to the DdmsUsers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_bg {
    
    padding: 2%;
    color: white;
    background-color: #101010;
    
    height: 92vh;
    width: 75%;
    
    border-radius: 8px;
    overflow-y: auto;
    
    // height: 100vh;
    // width: 80%;
    // color: white;
    // background-color: #0e0e0e;
    // margin-left: 10%;
    
}
.all_announcement {
    width: 100%;
    .a_title{
        text-align: center;
        margin-bottom: 4%;
    }
    .bordered {
        border-style: dashed;
        border-width: 1px;
        padding: 2%;
        padding-top: 1%;
        margin-bottom: 1%;
    }
}

a{
    
    color: #fff;
    &:hover, &:focus{
        text-decoration: none;
        color: darken(rgba(255, 255, 255, 0.85), 30%);;
    }
}

.manage-card {
    padding: 2%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 1%;
    height: 187px;
    margin-left: 2%;
    
    span {
        font-size: 50px;
    }
    h2 {
        margin-top: 1%;
        font-family:'Archivo Narrow', sans-serif;
    }
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.6);   
    }
}

.start {
    margin-left: 9%;
}

.admin_view {
    width: 100%;
}
.pad-left {
    padding-left: 12%;
}
.user_view_bg {
    padding: 2%;
    color: white;
    background-color: #101010;
    
    // height: 92vh;
    width: 70%;
    
    border-radius: 8px;
    // overflow-y: auto;
    margin-left: 15%;
    
    .personal-info{
        h1 {
            font-family: 'Crete Round', serif;
        }
    }
}
.mcontent {
    height: 92vh;
}


@mixin sides {
  padding-bottom: 3%;
  padding-top: 1%;
  height: 60vh;
  color: white;
  background-color: rgba(16, 16, 16, 0.85);;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 15px;
  display: block;
}

.side {
    
    margin-top: 1%;
    .sidetab {
        @include sides;
        
        position: fixed;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.62);
        width: 21vw;
        height: 61vh;
        left: 1%;
        
        .userinfo {
            padding: 5% 5%;
            padding-top: 0;
            margin-bottom: 10%;
            font-family: 'Open Sans', sans-serif;
        }
        
        // ======================== side bar =======================================//
    
        .options{
            
            display: grid;
            
            .admin-btn {
                padding-left: 5%;
            }
            
            .users-btn {
                padding-left: 20%;
            }
            .active{
                background-color: darken(rgba(16, 16, 16, 0.85), 20%);
            }
            
            .side-opt {
                
                span {
                    margin-right: 5%;
                }
                
                
                
                font-size: 20px;
                font-variant: small-caps;
                text-align: left;
                padding: 2%;
                //padding-left: 20%;
                background-color: none;
                // border-bottom: solid 1px #bcc6ca;
                padding-top: 2%;
                padding-bottom: 2%;
              
              a{
                  color: white;
              }
              
              &:hover {
                  background-color: lighten(rgba(16, 16, 16, 0.85), 20%);
                  
                  a{
                      text-decoration: none;
                  }
              }
            }
        }
        // =========================================================================//
        
        .request {
            .btn {
                width: 100%;
            }
            padding: 5%;
        }
    }
}

.user-carousel{
    text-align: center;
    padding: 2% 15%;
    h2 {
        font-family:'Crete Round', serif;
    }
    p, .announcement-content {
        font-family:'Open Sans', sans-serif
    }
}


.my-table{
    thead {
        tr{
            th{
              background-color: floralwhite;
            }
        }
    }
    tbody{
        tr{
            td{
                background-color: floralwhite;
            }
        }
    }
}

.table-hover {
    tbody {
        tr {
            &:hover {
                 background-color: lighten(rgba(16, 16, 16, 0.85), 20%);
            }
        }
    }
}

.table {
    table-layout: fixed;
    //word-wrap: break-word;
    width: auto;
    
    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }
}

.btn-sm {
    padding: 0.5px 1px;
}
// ========================================================================================
.paper-like {
    padding: 7%;
    padding-top: 9%;
    background-color: floralwhite;
    color: #333333;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    span {
        font-weight: bold;
    }
    p, ol {
      font-family:'Open Sans', sans-serif
    }
}

.paper,
.paper-like::before,
.paper-like::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
  
}