// Place all the styles related to the landingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing{
    background-color: rgba(0,0,0,0.55);
    margin-top: 3%;
    
    .landing_img {
        max-width: 216px;
        height: 205px;
    }
    
    .my-button {
        background-color: transparent;
        border-color: white;
        color: white;
        border-width: 2px;
        transition: all 0.5s ease;
        
        &:hover {
            color: #000;
            background-color: white;
        }
    }
}

#logo {
    font-size: xx-large;
    margin-left: 3%;
}

#ApplicationTitle {
    color: white;
    h1{
        font-size: 500%;
        font-family: 'Archivo Narrow', sans-serif;
    }
}

.landingLogin {
    display: flex;
    padding-top: 3%;
    padding-right: 5%;
    
    li {
        margin-right: 3%;
    }
}

.withcheckbox {
    .emailpart {
        margin-bottom: 2%;
    }
    
    div {
        width: 100%;
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-box;
        font-size: 11px;
        color: white;
        margin-bottom: 4%;
        font-family: 'Alegreya Sans', sans-serif;
        
        // .labelinline {
        //     display: inline;
        // }
        
        .checkbox {
            width: 10%;
            margin-top:0;
        }
    }
}

.withresetlink {
    .passwordpart {
        margin-bottom: 5%;
    }
    div {
        font-size: 11px;
        font-family: 'Alegreya Sans', sans-serif;
    }
}

.carousel-inner {
    h2 {
        font-family:'Crete Round', serif;
    }
    p, .announcement-content {
        font-family:'Open Sans', sans-serif
    }
}

.announcementinfo, .developers {
    h1 {
        font-family: 'Archivo Narrow', sans-serif;
    }
}
