<div class = "admin-interface">
    <div class = "manage-card col-md-3 start">
        <span class="glyphicon glyphicon-user"></span>
        <h2><%= link_to "Manage users", ddms_users_path %></h2>
    </div>
    
    <div class = "manage-card col-md-3">
        <span class="glyphicon glyphicon-edit"></span>
        <h2><%= link_to "Manage Permits", ddms_permits_path %></h2>
    </div>
    
    <div class = "manage-card col-md-3">
        <span class="glyphicon glyphicon-asterisk"></span>
        <h2><%= link_to "Manage Accountabilities", ddms_accountabilities_path %></h2>
    </div>
    
    <div class = "manage-card col-md-3 start">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        <h2><%= link_to "Manage Violations", ddms_violations_path %></h2>
    </div>
    
    <div class = "manage-card col-md-3">
        <span class="glyphicon glyphicon-briefcase"></span>
        <h2><%= link_to "Manage Applications", ddms_applicants_path %></h2>
    </div>
    <div class = "manage-card col-md-3">
        <span class="glyphicon glyphicon-bullhorn"></span>
        <h2><%= link_to "Manage Announcements", ddms_announcements_path %></h2>
    </div>
</div>