<!-- TAKE NOTE ARAYUSON PA INI DINHI!!! -->

<%= form_for(@user) do |f| %>

    <%= render 'shared/error_messages' %>
    
    <%= f.label "Room Number" %>
    <%= f.number_field :room_number, class: 'form-control'%>

    <%= f.label "Name" %>
    <div class = "name_field">
        <%= f.text_field :first_name, placeholder: "First Name", :value => params[:p0], class: "form-control pad_name" %> <!-- :value => params[:p0] -->
        
        <%= f.text_field :mi, placeholder: "MI", :value => params[:p1], class: "form-control pad_name mi" %> <!-- :value => params[:p1] -->
        
        <%= f.text_field :last_name, placeholder: "Last name", :value => params[:p2], class: "form-control" %> <!-- :value => params[:p2] -->
    </div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", :value => params[:p3], placeholder: "Email Address" %> <!-- :value => params[:p3] -->
    
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password (minimum of 6 characters)" %>
    
    <%= f.label :password_confirmation, "Confirm your password" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    
    <br/><hr/>
    
    <%= f.label :student_no, "Student Number" %>
    <%= f.text_field :student_no, class: "form-control", :value => params[:p4], placeholder: "Student Number" %> <!-- :value => params[:p4] -->
    
    <%= f.label :sts_bracket, "STS Bracket" %>
    <%= f.text_field :sts_bracket, :value => params[:p5], class: "form-control blkfont" %> <!-- :value => params[:p5] -->
    
    <%= f.label "Contact number" %>
    <%= f.text_field :contact_no, class: 'form-control', :value => params[:p9], placeholder: 'Telephone / Cellphone number'%>
    
    <%= f.label "Course & Year" %>
    <div class = "course_yr_field">
        <%= f.text_field :course, class: "form-control", :value => params[:p6], placeholder: "Course" %> <!-- :value => params[:p6] -->
        
        <%= f.number_field :year , class: "form-control year", :value => params[:p7], placeholder: "Year" %> <!-- :value => params[:p7] -->
    </div>
    
    <%= f.label :birthdate, "Birthday" %>
    <%= f.date_field :birthdate, :start_year => 1900, class:'form-control date' %>
    
    <%= f.label :home_address, "Home Address" %>
    <%= f.text_area :home_address, :value => params[:p8], class: "form-control" %> <!-- :value => params[:p8] -->
    
    <h3>Contact Persons</h3><br/>
    <%= f.label "Father" %>
    <%= f.text_field :father, class: 'form-control', :value => params[:p10], placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :father_contact, class: 'form-control', :value => params[:p11], placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :father_occupation, class: 'form-control', :value => params[:p12], placeholder: 'Occupation'%>
    
    <%= f.label "Mother" %>
    <%= f.text_field :mother, class: 'form-control', :value => params[:p13], placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :mother_contact, class: 'form-control', :value => params[:p14], placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :mother_occupation, class: 'form-control', :value => params[:p15], placeholder: 'Occupation'%>
    
    <%= f.label "Guardian" %>
    <%= f.text_field :guardian, class: 'form-control', :value => params[:p16], placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :guardian_contact, class: 'form-control', :value => params[:p17], placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :guardian_occupation, class: 'form-control', :value => params[:p18], placeholder: 'Occupation'%>
    
    <hr class = "invisible"/>
    
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    
    <hr class = "invisible"/>
    
<% end %>