<!-- TAKE NOTE ARAYUSON PA INI DINHI!!! -->

<%= form_for(@user) do |f| %>

    <%= render 'shared/error_messages' %>
    
    <%= f.number_field :room_number, class: 'form-control', readonly: true %>

    <%= f.label "Name" %>
    <div class = "name_field">
        <%= f.text_field :first_name, placeholder: "First Name", class: "form-control pad_name" %> <!-- :value => params[:p0] -->
        
        <%= f.text_field :mi, placeholder: "MI", class: "form-control pad_name mi" %> <!-- :value => params[:p1] -->
        
        <%= f.text_field :last_name, placeholder: "Last name", class: "form-control" %> <!-- :value => params[:p2] -->
    </div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", placeholder: "Email Address" %> <!-- :value => params[:p3] -->
    
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password (minimum of 6 characters)" %>
    
    <%= f.label :password_confirmation, "Confirm Your Password" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    
    <br/><hr/>
    
    <%= f.label :student_no, "Student Number" %>
    <%= f.text_field :student_no, class: "form-control", placeholder: "Student Number" %> <!-- :value => params[:p4] -->
    
    <%= f.label :sts_bracket, "STS Bracket" %>
    <%= f.text_field :sts_bracket, class: "form-control blkfont" %> <!-- :value => params[:p5] -->
    
    <%= f.label "Contact number" %>
    <%= f.text_field :contact_no, class: 'form-control', placeholder: 'Telephone / Cellphone number'%>
    
    <%= f.label "Course & Year" %>
    <div class = "course_yr_field">
        <%= f.text_field :course, class: "form-control", placeholder: "Course" %> <!-- :value => params[:p6] -->
        
        <%= f.number_field :year , class: "form-control year", placeholder: "Year" %> <!-- :value => params[:p7] -->
    </div>
    
    <%= f.label :birthdate, "Birthday" %>
    <%= f.date_field :birthdate, :start_year => 1900, class:'form-control date' %>
    
    <%= f.label :home_address, "Home Address" %>
    <%= f.text_area :home_address, class: "form-control" %> <!-- :value => params[:p8] -->
    
    <h3>Contact Persons</h3><br/>
    <%= f.label "Father" %>
    <%= f.text_field :father, class: 'form-control', placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :father_contact, class: 'form-control', placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :father_occupation, class: 'form-control', placeholder: 'Occupation'%>
    
    <%= f.label "Mother" %>
    <%= f.text_field :mother, class: 'form-control', placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :mother_contact, class: 'form-control', placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :mother_occupation, class: 'form-control', placeholder: 'Occupation'%>
    
    <%= f.label "Guardian" %>
    <%= f.text_field :guardian, class: 'form-control', placeholder: 'Full name'%>
    <%= f.label "Contact Number" %>
    <%= f.text_field :guardian_contact, class: 'form-control', placeholder: 'Telephone / Cellphone number' %>
    <%= f.label "Occupation" %>
    <%= f.text_field :guardian_occupation, class: 'form-control', placeholder: 'Occupation'%>
    
    <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank">Use gravatar for profile photo</a>
    </div>
    <br/><br/>
    
    <hr class = "invisible"/>
    
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    
    <hr class = "invisible"/>
    <br/>
    
<% end %>