<div>
    <div class="personal-info">
        <h1>Personal Info</h1>
        <br/>
        <div class = "pad-left">
            <p>Room no: <%= @user.room_number %></p>
            <p>Name: <%= @user.last_name.capitalize %>, <%= @user.first_name.capitalize %> <%= @user.mi.capitalize %>.</p>
            <p>Student Number: <%= @user.student_no %></p>
            <p>Course & Year: <%= @user.course %> - <%= @user.year %></p>
            <% if @user.birthdate == nil %>
                <p>Birthday: </p>
                <p>Age: </p>
            <% else %>
                <p>Birthday: <%= @user.birthdate.strftime("%b. %d, %Y") %></p>
                <p>Age: <%= (Time.current.month.to_i - @user.birthdate.month >= 0 ? (Time.current.day.to_i - @user.birthdate.day >= 0 ? Time.current.year - @user.birthdate.strftime("%Y").to_i : Time.current.year - @user.birthdate.strftime("%Y").to_i - 1) : (Time.current.year - @user.birthdate.strftime("%Y").to_i - 1)) %></p>
            <% end %>
            <p>STS Bracket: <%= @user.sts_bracket %></p>
            <p>Home Address: <%= @user.home_address %></p>
            <p>Email: <%= @user.email %></p>
            <p>Contact: <%= @user.contact_no %></p>
            <br/>
            <h4>Contact Persons</h4>
            <p>Father's Name: <%= @user.father %></p>
            <p>Contact number: <%= @user.father_contact %></p>
            <p>Occuptation: <%= @user.father_occupation %></p><br/>
            <p>Mother's Name: <%= @user.mother %></p>
            <p>Contact number: <%= @user.mother_contact %></p>
            <p>Occupation: <%= @user.mother_occupation %></p><br/>
            
            <% if @user.guardian %>
                <p>Guardian: <%= @user.guardian %></p>
                <p>Contact number: <%= @user.guardian_contact %></p>
                <p>Occupation: <%= @user.guardian_occupation %></p><br/>
            <% end %>
        </div>
    </div>
    <hr/>
</div>