<div class="paper-like">
    <p class="content-title">
        Dormitory Rules and Regulations
    </p>
    
    <p>
        The following house rules and regulations must be observed for the purpose of ensuring the general welfare and
        well-being of all the dormers
    </p>
    
    <ol>
        <li>
            <span>REQUIREMENTS.</span> Upon the student's admittance to the dormitory, he/she is required to accomplish the following:
            <ul>
                <li>Personal Data Sheet (Account information)</li>
                <li>Appliance Declaration Form</li>
                <li>Waiver Form</li>
                <li>Photocopy of Form-5</li>
                <li>Deposit Fee (equivalent to one month's rent)</li>
            </ul>
        </li>
        
        <li>
            <span>RENTAL FEE. (Monthly Fee)</span>
            <div class="table">
                <table class="table table-bordered my-table">
                    <thead>
                        <tr>
                            <th>Men's Dormitory</th>
                            <th>Ladies' Dormitory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Php 200.00</td>
                            <td>Php 550.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <p>
                    Dormers are expected to be prompt in paying their rentals. In paying, Bill Form should be secured
                    first from the Dormitory In-Charge. The rent and other bills must be paid only at the Cashier Office.
                    The Official Receipt should be presented to the Dormitory In-Charge afterwards for record purposes.
                </p>
            </div>
        </li>
        
        <li>
            <span>CHARGES FOR UTILITIES.</span> an additional payment is due for each additional electrical appliances brought
            in the dormitory
            <p>Appliance Fee per Month</p>
            <table class="table table-bordered my-table">
                <thead>
                    <tr>
                        <th>Electric Fan</th>
                        <th>Laptop</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Php 80.00</td>
                        <td>Php 100.00</td>
                    </tr>
                </tbody>
            </table>
        </li>
        
        <li>
            <span>PERMITS.</span> A Dormitory Pass is available for dormers who wish to apply for late check-in/off-campus
            overnight stay or for those who wish to go home. Approval of requests for such permits is based on parental consent
            reflected in the Waiver Form. Permits can only be secured before 6:00 PM. They should be filed personally (in person or through phone
            or application)
        </li>
        <li>
            <span>CHECKING IN AND OUT.</span> Dormers who leave the dormitory for purposes other than to attend their classes are required to check out
            properly in the dormitory log book, likewise, to check in upon their return.
        </li>
        
        <li>
            <span>CURFEW.</span> All Dormers must be inside the dormitory by 10:00 PM. Dormers woh wish to stay out
            beyond 10:)) PM should secure a Dormitory Pass/Permit for late check-in or overnight stay, depending on the length
            of time they wish to be out beyond the curfew hour. A Late Permit is good only up to 12:00 MN; whereas an Overnight
            Permit allows the dormer until morning of the following day. These permits can only be secured before 6:00 PM
        </li>
        
        <li>
            <span>VISITS.</span> In order to maintain the safety in the dormitory and the well-being of the dormers,
            visits are regulated. Visiting hours are from 8:00 AM to 8:00 PM. Visitors are to be entertained only at the dormitory
            lounge. Only the parents, relatives and guardians are allowed to enter the room with due permission from the Dormitory
            In-Charge. Visitors who wish to stay beyond the visiting period should first secure the aproval of the Dormitory In-Charge.
            Should they wish to stay overnight, however, they will be required to pay in full and in advance the transient fee of
            Php 50.00. Dormers are responsible for any violation of the house rules and regulations commited by their guests during the latter's
            stay in the dorm.
        </li>
        <li>
            <span>SILENCE.</span> To create an atmosphere conducive to study all throughout the day, residents and guests should tone down their radios, cassette players
            and other such gadgets, as well as avoid overly loud talk and scandalously boisterous laughter. This rule must
            be observed especially inside rooms, along corridors, in study areas and in the lounge. Moreover, the 8:00 PM
            to 8:00 AM silent hours must be strictly observed.
        </li>
        <li>
            <span>CLEANLINESS.</span> All dormers are responsible for keeping their rooms and surroundings clean at all times.
            Cleanliness is a must!
        </li>
        <li>
            <span>USE AND CARE OF FACILITIES.</span> Dormers are expected to take care in using the facilities, furniture, and properties
            of the dorm. Should a dormer, either intentionally or otherwise, destroy, deface any of the latter, he or she
            shall bear the full cost of repair or replacement provided. However, if the damaged or defaced property is apart of or has been issued to
            a particular room or any of the common areas, and no violator comes forward to own responsibility for the damage,
            the full cost of either repair or replacement shall be COLLECTIVELY borne by all the occupants of that room or all the dormers.
            <br/>
            <br/>
            No piece of furniture or dorm property should be moved from one place to another or outside the dormitory without
            the permission from the Dormitory In-Charge.
        </li>
        <li>
            <span>COOKING.</span> Dormers are not allowed to cook inside their rooms or any part of the dormitory
        </li>
        <li>
            <span>LAUNDRY.</span> Only light washing of intimate clothing is allowed in the washing area.
        </li>
        <li>
            <span>APPLIANCES.</span> Dormers intending to use appliances in the dorm shall ne required to sign an Appliance
            Declaration Form. A uniform rate for each appliance will be charged. Presence of undeclared or prohibited appliances inside
            a dormer's room shall be confiscated and maybe sufficient cause for denial of future accommodation and/or 
            cancellation of dormitory previleges.
        </li>
        <li>
            <span>WALL HANGINGS AND POSTINGS.</span> Dormers are not allowed to hang/post posters, pictures, mirrors, etc.
            on the walls of their respective room.
        </li>
        <li>
            <span>CONDUCT AND DISCIPLINE.</span> Dormers are expected to behave decently and appropriately. They must also be
            cooperative, considerate, and respectful at all times.
            
            <ul>
                <li>
                    <span>Minor Offenses</span><br/>
                    The following are considered as minor offenses:
                    <ul>
                        <li>Displaying disorderly conduct;</li>
                        <li>Failure to register in the logbook and to secure permits;</li>
                        <li>Allowing outsiders, including but not limited to friends and classmates, to enter the room;</li>
                        <li>Violation of curfew; and</li>
                        <li>Failure to turn off the light, ceiling fan, and other appliances.</li>
                    </ul>
                    
                    The offenses enumerated above are punishable as follows:
                    <ul>
                        <li>First Violation - Gentle reminder or verbal reprimand</li>
                        <li>Second Violation - Letter of reprimand or written warning. Parents or Guardian will be
                            furnished a copy.
                        </li>
                        <li>Thrid Violation - Eviction notice or curtailment of dormitory previleges.</li>
                    </ul>
                    
                </li>
                <li>
                    <span>Major Offenses</span><br/>
                    The acts listed below are classified as serious misconduct punishable by outright eviction:
                    <ul>
                        <li>Smoking;</li>
                        <li>Possession and drinking of liquor;</li>
                        <li>Possession and bringing in of prohibited drugs, pornographic materials, and dangerous stuff;</li>
                        <li>Spreading rumors that malign the reputation of other occupants;</li>
                        <li>Immoral acts including public display of affection;</li>
                        <li>Vandalism;</li>
                        <li>Deliberately destroying dormitory facilities, such as door knob, glass window, screen door, etc.;</li>
                        <li>Unauthorized use of electrical appliances, including ironing of clothes inside the dormitory;</li>
                        <li>Cooking in the Dormitory;</li>
                        <li>Gambling;</li>
                        <li>Stealing or attemptin to steal money and other property; and</li>
                        <li>Habitual disregard or repeated willfull violation of established Dormitory rules and regulations,
                            or fourth commisision of a minor offense.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <span>PRUDENT DISCRETION OF THE DORMITORY HEAD.</span> To provide for flexibility in the managementof the dorm, the Dormitory
            Manager, always in consultation with the Office of the Student Affairs (OSA) Coordinator, will have the
            authority to make revisions to these rules and regulations if necessary.
        </li>
    </ol>
    
    Important Notice: A hard copy of this may be required. If so, contact Dorm Manager for a copy
</div>