<aside class = "sidetab card">
    <% if !current_user.admin? %>
    <div class="userinfo">
        <h3>
            <%= gravatar_for @user%>
            <%= @user.last_name %>, <%= @user.first_name %> <%= @user.mi%>.
        </h3>
        <%= @user.student_no %><br/>
        <%= @user.email %>
    </div>
    <hr/>
    <div class="options">
        <div class="users-btn">
            <div class= "btn side-opt"><span class="glyphicon glyphicon-bell"></span> <%= link_to "What's up? ", current_user %></div>
            <div class='btn side-opt'><span class="glyphicon glyphicon-asterisk"></span> <%= link_to "Accountabilities ", url_for(current_user) + '/accountabilities' %></div>
            <div class='btn side-opt'><span class="glyphicon glyphicon-thumbs-down"> </span><%= link_to " Violations ", url_for(current_user) + '/violations' %></div>
            <div class='btn side-opt'><span class="glyphicon glyphicon-edit"></span> <%= link_to "Permits ", url_for(current_user) + '/permits' %></div>
        </div>
    </div>
    <div class='request'>
        <%= link_to "Request for a permit", ddms_permits_new_path(:user_id => current_user.id), class: 'btn btn-primary' %>
    </div>
    <% else %>
    <div class="options">
        <div class="admin-btn">
            <div class= "btn side-opt"><span class="glyphicon glyphicon-user"></span> <%= link_to "Manage Users ", ddms_users_path %></div>
            <div class='btn side-opt'><span class="glyphicon glyphicon-edit"></span> <%= link_to "Manage Permits", ddms_permits_path %></div>
            <div class='btn side-opt'><span class="glyphicon glyphicon-asterisk"> </span><%= link_to "Manage Accountabilities", ddms_accountabilities_path %></div>
            <div class='btn side-opt'><span class="glyphicon glyphicon-thumbs-down"></span> <%= link_to "Manage Violations", ddms_violations_path %></div>
            <div class='btn side-opt'><span class="glyphicon glyphicon-briefcase"></span> <%= link_to "Manage Applications", ddms_applicants_path %></div>
            <div class='btn side-opt'><span class="glyphicon glyphicon-bullhorn"></span> <%= link_to "Manage Announcements", ddms_announcements_path %></div>
        </div>    
    </div>
    
    <% end %>
</aside>