<div class = 'user_bg all_announcement'>
    <h1 class = 'a_title'>
        All Announcements
    </h1>
    <hr/>
    <% if @announcements.where(:archived => false).all.count > 0 || @announcements.where(:archived => nil).all.count > 0 %>
        <% @announcements.each do |announcement| %>
            <div class = 'bordered'>
                <h2><%= announcement.title %></h2>
                <p>Dorm Manager | <%= announcement.created_at.strftime("%d %b. %Y")%></p>
                <br/>
                <div class="announcement-content">
                    <%= announcement.content %>
                </div>
            </div>
        <% end %>
    <% else %>
    <% end %>
</div>