<div class="col-md-3 side">
    <%= render 'side_bar' %>
</div>
<div class = "user_bg col-md-9">
    <div class="title">
        <h1>Your Accountabilities</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <%if @accountabilities.count > 0 %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Accountability</th>
                        <th>Remarks</th>
                        <th>Due date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% @accountabilities.each do |accountability| %>
                        <tr>
                            <td><%= accountability.accountability %></td>
                            <td><%= accountability.remarks %></td>
                            <td><%= accountability.due_date.strftime("%d %b. %Y") %></td>
                            <td><%= (accountability.resolved ? 'Resolved' : 'Unresolved') %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            You don't have any record of unresolved accountabilities.
        <% end %>
    </div>
</div>