<div class="col-md-3 side">
    <%= render 'side_bar' %>
</div>
<div class = "user_bg col-md-9">
    <div class="title">
        <h1>Submitted Permits</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @permits.count > 0 %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Permit type</th>
                        <th>Description</th>
                        <th>Permit Date</th>
                        <th>Date Created</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% @permits.each do |permit| %>
                        <% if !permit.archived %>
                            <tr>
                                <!--<td>%= @users.find_by(:id => v.id).first_name %></td>-->
                                <td><%= permit.permit_type %></td>
                                <td><%= permit.description %></td>
                                <td><%= permit.permit_date.strftime("%d %b. %Y") %></td>
                                <td><%= permit.created_at.strftime("%d %b. %Y") %></td>
                                <td><%= (permit.approved ? 'Approved' : 'Unapproved') %></td>
                                <% if !permit.approved %>
                                    <td><%= link_to "Edit", edit_ddms_permit_path(:id => permit.id, :user_id => permit.user_id), class: 'btn btn-primary btn-sm' %></td>
                                <%else %>
                                    <td>---------</td>
                                <% end %>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            You have not submitted any permits. Click the button below to submit a permit request now.
            <div><%= link_to "Request Permit", ddms_permits_new_path(:user_id => current_user.id), class: 'btn btn-primary' %></div>
        <% end %>
    </div>
</div>