<% provide(:title, 'Account information') %>

<div class="user_view_bg">
    <%= link_to "Back", ddms_users_path, class: 'btn btn-primary' %>
    
    <hr/>
    <div class="personal-info">
        <h1>Personal Info</h1>
        <br/>
        <%= gravatar_for @user %>
        <div class = "pad-left">
            <p>Room no: <%= @user.room_number %></p>
            <p>Name: <%= @user.last_name.capitalize %>, <%= @user.first_name.capitalize %> <%= @user.mi.capitalize %>.</p>
            <p>Student Number: <%= @user.student_no %></p>
            <p>Course & Year: <%= @user.course %> - <%= @user.year %></p>
            <% if @user.birthdate == nil %>
                <p>Birthday: </p>
                <p>Age: </p>
            <% else %>
                <p>Birthday: <%= @user.birthdate.strftime("%b. %d, %Y") %></p>
                <p>Age: <%= (Time.current.month.to_i - @user.birthdate.month >= 0 ? (Time.current.day.to_i - @user.birthdate.day >= 0 ? Time.current.year - @user.birthdate.strftime("%Y").to_i : Time.current.year - @user.birthdate.strftime("%Y").to_i - 1) : (Time.current.year - @user.birthdate.strftime("%Y").to_i - 1)) %></p>
            <% end %>
            <p>STS Bracket: <%= @user.sts_bracket %></p>
            <p>Home Address: <%= @user.home_address %></p>
            <p>Email: <%= @user.email %></p>
            <p>Contact: <%= @user.contact_no %></p>
            <br/>
            <h4>Contact Persons</h4>
            <p>Father's Name: <%= @user.father %></p>
            <p>Contact number: <%= @user.father_contact %></p>
            <p>Occuptation: <%= @user.father_occupation %></p><br/>
            <p>Mother's Name: <%= @user.mother %></p>
            <p>Contact number: <%= @user.mother_contact %></p>
            <p>Occupation: <%= @user.mother_occupation %></p><br/>
            
            <% if @user.guardian %>
                <p>Guardian: <%= @user.guardian %></p>
                <p>Contact number: <%= @user.guardian_contact %></p>
                <p>Occupation: <%= @user.guardian_occupation %></p><br/>
            <% end %>
        </div>
    </div>
    <hr/>
    <div class="title">
        <h1>Accountabilities</h1>
    </div><br/>
    <div class="pad-left">
        <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
            <%if @accountabilities.count > 0 %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Accountability</th>
                            <th>Remarks</th>
                            <th>Due date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @accountabilities.each do |accountability| %>
                            <tr>
                                <td><%= accountability.accountability %></td>
                                <td><%= accountability.remarks %></td>
                                <td><%= accountability.due_date.strftime("%d %b. %Y") %></td>
                                <td><%= (accountability.resolved ? 'Resolved' : 'Unresolved') %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% else %>
                No any record of unresolved accountabilities.
            <% end %>
        </div>
    </div>
    <hr/>
    <div>
        <h1>Violations</h1>
        <div class="pad-left">
            <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
                <% if @violations.count > 0 %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Violation</th>
                                <th>Remarks</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @violations.each do |v| %>
                                <tr>
                                    <!--<td>%= @users.find_by(:id => v.id).first_name %></td>-->
                                    <td><%= v.title %></td>
                                    <td><%= v.remarks %></td>
                                    <td><%= (v.resolved ? 'Resolved' : 'Unresolved') %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    No any record of unresolved violations.
                <% end %>
            </div>
        </div>
    </div>
    <hr/>
    <div>
        <h1>Permits</h1>
        <div class="pad-left">
            <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
                <% if @permits.count > 0 %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Permit type</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @permits.each do |permit| %>
                                <% if !permit.archived %>
                                    <tr>
                                        <!--<td>%= @users.find_by(:id => v.id).first_name %></td>-->
                                        <td><%= permit.permit_type %></td>
                                        <td><%= permit.description %></td>
                                        <td><%= (permit.approved ? 'Approved' : 'Unapproved') %></td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                <% else %>
                    No submitted permits.
                <% end %>
            </div>
        </div>
    </div>
</div>