<div class="col-md-3 side">
    <%= render 'side_bar' %>
</div>
<div class = "user_bg col-md-9">
    <div class="title">
        <h1>Your Violations</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @violations.count > 0 %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Violation</th>
                        <th>Remarks</th>
                        <th>Date Issued</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% @violations.each do |v| %>
                        <tr>
                            <!--<td>%= @users.find_by(:id => v.id).first_name %></td>-->
                            <td><%= v.title %></td>
                            <td><%= v.remarks %></td>
                            <td><%= v.created_at.strftime("%d %b. %Y")%></td>
                            <td><%= (v.resolved ? 'Resolved' : 'Unresolved') %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            You don't have any record of unresolved violations.
        <% end %>
    </div>
</div>