<% provide(:title, "All Users") %>

<!--<div class="col-md-3 side">-->
<!--    %= render 'side_bar' %>-->
<!--</div>-->



<div class = "user_bg admin_view">
    <div>
        <%= link_to "Back", current_user, class: 'btn btn-primary' %>
        <%= link_to "Delete all archived data", delete_all_archived_ddms_user_path(current_user), class: 'btn btn-primary' %>
    </div>
    
    <div class="title">
        <h1>All Dormers</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @users.where(:archived => false, :admin => false).all.count > 0 %>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Room Number</th>
                        <th>Student Number</th>
                        <th>Email</th>
                        <th>STS Bracket</th>
                        <th>Activation Status</th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <% if !(user.admin?) && !user.archived? %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= link_to "#{user.first_name}, #{user.last_name} #{user.mi}.", url_for(user) + '/personal-info' %></td>
                                <td><%= user.room_number %></td>
                                <td><%= user.student_no %></td>
                                <td><%= user.email %></td>
                                <td><%= user.sts_bracket %></td>
                                <td>
                                    <% if user.activated? %>
                                        Activated
                                    <% else %>
                                        Not Activated
                                    <% end %>
                                </td>
                                <td>
                                    <%= link_to "Edit", (user.activated ? edit_ddms_user_path(user) : '#'), class: 'btn btn-primary btn-sm' %>
                                    <%= link_to "Archive", change_ddms_user_path(user), data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm'%> 
                                    <%= link_to "Add Accountability", ddms_accountabilities_new_path(:user_id => user.id), class: 'btn btn-primary btn-sm' %>
                                    <%= link_to "Add Violation", ddms_violations_new_path(:user_id => user.id), class: 'btn btn-primary btn-sm' %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No users
        <% end %>
    </div>
    <hr/>
    <div class="title">
        <h1>All Archived Dormers</h1>
    </div>
    <div class="showtable table-responsive">  <!-- dont forget na ig overflow hidden ini -->
        <% if @users.where(:archived => true, :admin => false).all.count > 0 %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Student Number</th>
                        <th>Email</th>
                        <th>STS Bracket</th>
                        <th>Activation Status</th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <% if !(user.admin?) && user.archived? %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= user.first_name %></td>
                                <td><%= user.last_name %></td>
                                <td><%= user.student_no %></td>
                                <td><%= user.email %></td>
                                <td><%= user.sts_bracket %></td>
                                <td>
                                    <% if user.activated? %>
                                        Activated
                                    <% else %>
                                        Not Activated
                                    <% end %>
                                </td>
                                <td>
                                    <%= link_to "Restore", change_ddms_user_path(user), class: 'btn btn-primary btn-sm'%> 
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No archived users
        <% end %>
    </div>
</div>