<% provide(:title, 'Create Account') %>
<% provide(:button_text, 'Create Account') %>

<div class = "transparentbg">
    <div class = "formbg">
        <h1>Create Account</h1>
        <hr/>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!--# % debugger %-->
                <%= render 'form_new' %>
            </div>
        </div>
    </div>
</div>

