<%= provide(:title, @user.first_name) %>

<% if !current_user.admin? %>
    <div class="col-md-3 side">
        <%= render 'side_bar' %>
    </div>
    <div class = "user_bg col-md-9">
        <p class="content-title">
            Welcome Dormer!
        </p>
        <hr/>
        <%= render 'main_content' %>
    </div>
<% else %>
    <div class = "user_bg admin_view">
        <p class="content-title">
            Welcome Administrator!
        </p>
        <hr/>
        <%= render 'ddms_users/admin_interface' %>
    </div>
<% end %>
