<%= form_for(@announcement) do |f| %>
    <!--render errors for this form-->
    <%= render 'shared/announcement_error_messages' %>
    
    <%= f.label :title%>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    
    <%= f.label :content%>
    <%= f.text_area :content, class: 'form-control' %>
    
    <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
    
<% end %>