<% provide(:title, 'Edit announcement') %>
<% provide(:button_text, 'Save Changes') %>

<div class = "transparentbg">
    <!--<% if admin_user? %>
        <%= link_to "<< back", ddms_announcements_path %>
    <% end %>-->
    <div class = "formbg">
        <h1>Update Announcement</h1>
        <hr/>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!--# % debugger %-->
                <%= render 'form' %>
                <hr class="invicible" />
                <%= link_to "Cancel", ddms_announcements_path, class: 'btn btn-primary' %>
            </div>
        </div>
    </div>
</div>