<% provide(:title, "All Announcements") %>

<!--<div class="col-md-3 side">-->
<!--    <%= render 'ddms_users/side_bar' %>-->
<!--</div>-->
<div class = "user_bg admin_view">
    <div>
        <%= link_to "Back", current_user, class: 'btn btn-primary' %>
        <%= link_to "Create Announcement", ddms_announcements_new_path, class: 'btn btn-primary' %>
        <%= link_to "Delete All Archived Announcements", delete_archived_ddms_announcement_path(current_user),
            data: {confirm: "All archived announcements will be deleted. Are you sure?"}, class: 'btn btn-primary' %>
    </div>
    
    <div class="title">
        <h1>All Announcements</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @announcements.where(:archived => nil).all.count > 0 || @announcements.where(:archived => false).all.count > 0 %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Action</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                    </tr>
                </thead>
                <tbody>
                    <% @announcements.each do |announcement| %>
                        <% if !announcement.archived %>
                            <tr>
                                <td>Administrator</td>
                                <td><%= announcement.title %></td>
                                <td><%= announcement.content %></td>
                                <td>
                                    <%= link_to "Edit", edit_ddms_announcement_path(announcement), class: 'btn btn-primary btn-sm' %>
                                    <%= link_to (announcement.archived ? "Restore" : "Archive") , change_ddms_announcement_path(announcement), class: 'btn btn-primary btn-sm'%>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No Posted Announcements
        <% end %>
    </div>
    
    <!-- ====================== ALL ARCHIVED ANNOUNCEMENTS ================================= -->
    
    <div class="title">
        <h1>Archived Announcements</h1>
    </div>
    <div class="showtable">  <!-- dont forget na ig overflow hidden ini -->
        <% if @announcements.where(:archived => true).all.count > 0 %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Action</th> <!-- diretso na ini delete kay diri pwede bawi-un it approval -->
                    </tr>
                </thead>
                <tbody>
                    <% @announcements.each do |announcement| %>
                        <% if announcement.archived %>
                            <tr>
                                <td>Administrator</td>
                                <td><%= announcement.title %></td>
                                <td><%= announcement.content %></td>
                                <td>
                                    <%= link_to (announcement.archived ? "Restore" : "Archive") , change_ddms_announcement_path(announcement), class: 'btn btn-primary btn-sm'%>
                                    <%= link_to "Delete" , announcement, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary btn-sm'%>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            No archived Announcements
        <% end %>
    </div>
</div>