<div class = "col-md-12 announce_bg">
    <hr/>
    <div class="announcementinfo header">
        <h1>Announcements</h1>
    </div>
    <hr/>
    <hr class="invisible" />
    <% if @announcements.where(:archived => false).all.count > 0 || @announcements.where(:archived => nil).all.count > 0 %>
        <div id='myCarousel' class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <h2><%= @announcements.first.title %></h2>
                    <p>Dorm Manager | <%= @announcements.first.created_at.strftime("%d %b. %Y")%></p>
                    <br/>
                    <div class="announcement-content">
                        <%= @announcements.first.content %>
                    </div>
                </div>
                <% @announcements.each do |announcement| %>
                    <% if !(announcement == @announcements.first) %>
                        <div class="item">
                            <h2><%= announcement.title %></h2>
                            <p>Dorm Manager | <%= announcement.created_at.strftime("%d %b. %Y")%></p>
                            <br/>
                            <div class="announcement-content">
                                <%= announcement.content %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    <% else %>
        No Posted Announcements
    <% end %>
    <hr class="invisible"/>
</div>