<hr class="invisible"/>

<div class = "col-md-12 developers">
    <div class="header">
        <h1>Developers</h1>
    </div>
    <hr class="dev-hr"/>
    <hr class="invisible"/>
    <div class='col-md-3 dev_card'>
        <div class="thumbnail">
            <%= image_tag("jericho_decastro.png", :alt => 'jericho', class: 'img-circle image') %>
            <div class="caption">
                Jericho M. de Castro<br/>
                Developer
            </div>
        </div>
    </div>
    <div class='col-md-3 dev_card'>
        <div class="thumbnail">
            <%= image_tag("rex_olis.png", :alt => 'rex', class: 'img-circle image') %>
            <div class="caption">
                Rex A. Olis<br/>
                Developer
            </div>
        </div>
    </div>
    <div class='col-md-3 dev_card'>
        <div class="thumbnail">
            <%= image_tag("jovan_paner.png", :alt => 'jovan', class: 'img-circle image jov') %>
            <div class="caption">
                Jovan Francis T. Paner<br/>
                Developer
            </div>
        </div>
    </div>
    <div class ='col-md-3 dev_card'>
        <di class="thumbnail">
            <%= image_tag("john_ultra.png", :alt => 'ultra', class: 'img-circle image') %>
            <div class="caption">
                Prof. John D. Ultra<br/>
                Project Adviser
            </div>
        </div>
    </div>
    <hr/>
    <hr class="invisible"/>
</div>