    
<div class="footer">
    <p>
       Digital Dorm Manager System (DDMS)
    </p>
    <p>
        Contact us at
        <i>ddms.manager2k17@gmail.com (admin)</i>
    </p>
    <p>
        All rights Reserved 2017
    </p>
</div>