<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "DDMS", root_url, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <!--<li>%=link_to "Home", root_url %</li>-->
                <!--<li>%= link_to "Login", root_url %</li>-->
                <% if logged_in? %>
                    <% if !admin_user? %>
                        <li><%= link_to "Announcements (see all)", url_for(current_user) + '/all-announcements' %></li>
                    <% end %>
                    <li><%= link_to current_user.first_name.capitalize, current_user %></li>   <!--@user.first_name.capitalize -->
                    <li class = "dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Account <b class="caret"></b>
                        </a>
                        <ul class = "dropdown-menu">
                            <li><%= link_to "Profile Settings", edit_ddms_user_path(current_user) %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Logout", logout_path, method: :delete %></li>
                        </ul>
                    </li>
                <% else %>
                    <%= form_for(:landing_page, url: login_path, :html => {:class => 'landingLogin'}) do |f|%>
                        <li class = "withcheckbox">
                            <%= f.email_field :email, class: 'form-control emailpart', placeholder: "Email"%>
                            <div>
                                <!--%= f.label :remember_me, class: "labelinline" do %-->
                                    <%= f.check_box :remember_me , class: "checkbox"%>
                                <!--% end %-->
                                Remember me on this computer
                            </div>
                        </li>
                        <li class = "withresetlink">
                            <%= f.password_field :password, class: 'form-control passwordpart', placeholder: "Password"%>
                            <div>
                                <%= link_to "Forgot Password?", new_password_reset_path %>
                            </div>
                        </li>
                        <li><%= f.submit "Log in", class: "btn btn-primary" %></li>
                    <% end %>
                <% end %>
            </ul>
        </nav>
    </div>
</header>