<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Archivo+Narrow:700|Crete+Round|Alegreya+Sans:500|Open+Sans', media: 'all', 'data-turbolinks-track' => true %>
    
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="black-bg">
      <!--% if logged_in? && current_user %>-->
      <!--  %= render 'layouts/sidebar' %>-->
      <!--% end %>-->
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> my_flash"><%= message %><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>
        <% end %>
        <%= yield %>
      </div>
      <!--% if logged_in? %>-->
      <!--  %= render 'layouts/announcement_section' %>-->
      <!--% end %>-->
    </div>
    <!--<div class="block">-->
    <!--  %= debug(params) if Rails.env.development? %>-->
    <!--</div>-->
    <% if !logged_in? && request.original_url == root_url %>
      <%= render 'layouts/announcement_section' %>
      <%= render 'layouts/developer' %>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>

